{% extends "checkout/checkout.html" %}
{% load currency_filters %}

{% block title %}
Order preview | {{ block.super }}
{% endblock %}

{% block checkout-nav %}
{% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{# Null out the actions as they can't be used here #}
{% block shipping_address_actions %}{% endblock %}
{% block order_contents_actions %}{% endblock %}

{% block payment_method %}
<div class="span6">
    <div class="alert alert-info">
        <p>Review the information and click on "Pay with SystemPay" at the bottom of the page</p>
    </div>
</div>
{% endblock %}

{% block place_order %}
<h3>Please review the information above, then click "Place Order"</h3>
<form method="post" action="{% url systempay:place-order %}">
    {% csrf_token %}
    <input type="hidden" name="payer_id" value="{{ payer_id }}" />
    <input type="hidden" name="token" value="{{ token }}" />
    <div class="form-actions">
        <input type="hidden" name="action" value="place_order" />
        <input id='place-order' type="submit" value="Pay with SystemPay" class="pull-right btn btn-success btn-large js-disable-on-click" />
    </div>
</form>
{% endblock place_order %}